.dub
docs.json
__dummy.html
docs/
/xmlanalyzer
xmlanalyzer.so
xmlanalyzer.dylib
xmlanalyzer.dll
xmlanalyzer.a
xmlanalyzer.lib
xmlanalyzer-test-*

*.exe
*.pdb
*.o
*.obj
*.lst
*.a

xmlanalyzer_gui
xmlanalyzer_cli

.vscode/launch.json
parseTreeDump.pegged.txt
dub.selections.json