.dub
docs.json
__dummy.html
docs/
/xmlconfigier
xmlconfigier.so
xmlconfigier.dylib
xmlconfigier.dll
xmlconfigier.a
xmlconfigier.lib
xmlconfigier-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

.vscode/launch.json
parseTreeDump.pegged.txt
